body {
    background-color: #333333;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ccff33;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2, h3 {
    color: #ff3300;
    text-align: center;
}

label {
    color: #000;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff9933;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #e68a00;
}