* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #EDEDED;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
p{
    background-color: #008476;
    padding: 10px;
}
h1 {
    margin-bottom: 20px;
    color: #6A6A6A;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    width: 60px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #D5D6D6;
}

#output {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}
