*{
    background-color:#006599 ;
}
a{
    color: white;
    text-decoration: none;
    
}
.gift-icons{
    font-size: 3rem;
}
.icons{
    font-size: 3rem;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    color: white
}

.list{
    
    list-style: none;
    margin: 3rem;
    color: white;
    
}
.list li{
    padding: 10px;
    font-size: 20px;
    
}